/*btn menu*/
.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: var(--border);
  background: var(--menu-btn-bg);
  position: relative;
  
  
  &.active {
    border-color: var(--accent);
    box-shadow: 0 0 0 3px var(--glow);
  }
  
  .menu-btn__line {
    width: 70%;
    height: 10%;
    border-radius: 4px;
    background: var(--text);
    position: absolute;
    top: 15%;
    left: 15%;
    transition: 0.2s ease;
    
    &.active {
      top: 45% !important;
      left: 5%;
      width: 90%;
    }
  }
  
  .line-1 {
    &.active {
      transform: rotate(45deg);
    }
  }
  .line-2 {
    top: 45%;
    
    &.active {
      opacity: 0;
    }
  }
  .line-3 {
    top: 75%;
    
    &.active {
      transform: rotate(-45deg);
    }
  }
}


/*menu*/
.menu {
  &.active {
    right: 0%;
  }
}

.menu, .modal-menu {
  position: fixed;
  top: 64px;
  right: -250px;
  height: calc(100% - 64px);
  width: 250px;
  background: var(--blur-bg-color);
  backdrop-filter: blur(20px);
  z-index: 10;
  transition: 0.2s ease;
  padding: 1.5rem 1rem;
  overflow-y: auto;
  
  h3 {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  
  .menu__btn {
    height: 40px;
    width: 100%;
    border: var(--border);
    background: var(--menu-btn-bg);
    margin: 0.5rem 0;
    transition: 0.2s ease;
    
    
    &.active {
      border-color: var(--accent);
      box-shadow: 0 0 0 3px var(--glow);
    }
    
    &.theme {
      text-transform: uppercase;
      
      .light {
        color: var(--accent);
      }
      
      .dark {
        color: var(--text);
      }
      
      &.active {
        border: var(--border);
        box-shadow: none;
        
        .light {
          color: var(--text);
        }
        
        .dark {
          color: var(--accent);
        }
      }
    }
  }
  
  
  summary.menu__btn {
    font-size: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    position: relative;
    
    
    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      background: var(--text);
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      transition: 0.2s ease;
    }
    
    &.active {
      &::before {
        clip-path: polygon(0 0, 100% 0%, 50% 100%);
      }
    }
  }
}

details > div {
  &.wrap-filter-btn.grid {
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(60px, 1fr));
    gap: 0 1rem;
  }
  
  .menu__btn.menu__btn {
    background: transparent;
  }
}


/*modal menu*/
.modal-menu {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 0 0 12px 12px;
  right: 250px;
  height: max-content;
  max-height: calc(100% - 64px);
  opacity: 0;
  transition: opacity 0.5s ease, display 0.5s ease allow-discrete;
  
  
  &.active {
    display: flex;
    opacity: 1;
    
    @starting-style {
      opacity: 0;
    }
  }
}