.root {
  position: relative;
  z-index: 1;
  padding: calc(2.5rem + 64px) 2rem 2.5rem 2rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}


@media (max-width: 640px) {
  .root { 
    padding: calc(1.5rem + 64px) 1rem 1.5rem 1rem; 
  }
}