:root {
  /*palette colors*/
  --white-50: hsla(200, 10%, 95%, 1);
  --black-a50: hsla(0, 100%, 0%, 0.5);
  --white-a50: hsla(0, 100%, 100%, 0.5);
  --white-50: hsla(240, 19%, 95%, 1);
  --black-950: hsla(240, 19%, 5%, 1);
  --white-100: hsla(240, 17%, 92%, 1);
  --black-900: hsla(240, 17%, 8%, 1);
  --white-150: hsla(240, 17%, 90%, 1);
  --black-850: hsla(240, 17%, 10%, 1);
  
  
  --card-active-botder-color: hsla(288, 100%, 65%, 0.27);
  --text-accent-botder-color: hsla(288, 100%, 65%, 0.27);
  
}


