.plyr, .plyr * {
  width: auto;
  height: auto;
  display: block;
  overflow: visible;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  color: revert-layer;
  flex-shrink: initial;
  fill: #fff;
}

.plyr {
  width: 100%;
  height: 100%;
}

#sprite-plyr, #sprite-plyr * {
  width: auto;
  height: auto;
  display: none;
  overflow: visible;
}
